<a href="https://colab.research.google.com/github/marcondesmacaneiro/colab_tests/blob/master/Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Operadores Aritméticos**

---

![alt text](http://uploaddeimagens.com.br/images/002/157/495/full/novo.jpg?1561548911)

In [0]:
# SOMA NÚMEROS

print(5+1)

In [0]:
# SOMA STRINGS

print("chat"+"bot")

In [0]:
# SUBTRAÇÃO

print(150-50)

In [0]:
# MULTIPLICAÇÃO

print(5*3)

In [0]:
# DIVISÃO

print(100/3)

In [0]:
# EXPONENCIAÇÃO

print(2**3)

In [0]:
# PARTE INTEIRA DA DIVISÃO

print(100//3)

In [0]:
# RESTO DA DIVISÃO

print(100%3)

# **Regras de Precedência(PEMDAS)** 
<br>**P**: de parênteses! tem a mais alta precedência e por isto, em casos onde houverem parênteses, estes cálculos serão realizados primeiro.
<br>2 * (3+1) = 8
<br>2 * 3 + 1 = 7
<br><br>**E**: de exponenciação! possui a segunda precedência mais alta.
<br>2 ** 1+1 = 3
<br><br>**MDAS**: Multiplicação e Divisão são a terceira precedência mais alta, restando a adição e subtração em ultima posição na ordem de precedência.
<br>2 * 3-1 = 5

# **Operadores Lógicos**

---

![alt text](http://uploaddeimagens.com.br/images/002/157/489/original/operadores-logicos.jpg?1561548629)

In [0]:
# MAIOR >
print(10 > 0)

In [0]:
# MENOR <
print(0 < 10)

In [0]:
# MAIOR OU IGUAL >=
print(10 >= 10)

In [0]:
# MENOR OU IGUAL <=
print(10 <= 20)

In [0]:
# IGUAL ==
print(10 == 10)

In [0]:
# DIFERENTE !=
print(10 != "10")

# **Operador in**

In [0]:
# Operador IN verifica se o elemento está contido na estrutura citada
x = "python"
print("p" in x)

## **>>> Exercícios**


1.   Crie um algoritmo que solicite do usuário 2 números e apresente a soma de ambos (fácil)
2.   Crie um algoritmo que solicite do usuário 2 números e apresente o intervalo númerico entre eles (médio)
3.   Crie um algoritmo que solicite do usuário 2 números e apresente o mínimo múltiplo comum(MMC) entre eles (difícil)

In [34]:
# Crie um algoritmo que solicite do usuário 2 números e apresente a soma de ambos
a = input('num 1: ')
b = input('num 2: ')
a+b

num 1: 12
num 2: 45

'1245'

In [35]:
# Crie um algoritmo que solicite do usuário 2 números e apresente o intervalo númerico entre eles 
for i in range(int(a), int(b)):
  print(i)

12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44

In [37]:
# Crie um algoritmo que solicite do usuário 2 números e apresente o mínimo múltiplo comum(MMC) entre eles
def mdc(a,b):
    if b == 0:
        return a
    return mdc(b, a % b)

def mmc(a,b):
    return int(abs(a*b) / mdc(a,b))

a = input('valor 1 ')
b = input('valor 2 ')

mmc(int(a), int(b))

valor 1 12
valor 2 45

180